<!DOCTYPE html>
<html>
    <head>
        <title>Certifications</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js.map"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js.map"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Carter+One|Questrial&display=swap" rel="stylesheet">
    </head>

    <header>
    <h1>
        <center><img id="image" src="img/oco.jpg" height=150px><br><strong><p1>Oconee County Fire Rescue</p1></strong></center>
    </h1>
  </header>

    <body style="background-color:lightgrey">

    <nav class="navbar navbar-inverse">

            <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
      				<li><a href="staff.html">Staff</a></li>
      				<li><a href="certifications.html">Certifications</a></li>
              <li><a href="staffdetail.html">Staff Details</a></li>
              <li><a href="certdetail.html">Certification Details</a></li>

            </ul>
    </nav>

<h2><strong><center>OCFR Certifications</center></strong></h2>
<div class="container-fluid text-center bg-2">
<div id="certsRecordsApp">
<table class="table table-condensed"><br>
<thead>
        <tr>
            <th class="text-center">Certification ID</th>
            <th class="text-center">Certification Name</th>
            <th class="text-center">Certifying Agency</th>
            <th class="text-center">Default Exp. Period</th>
            <th class="text-center">Actions</th>
	    <!--<th class="text-center">Actions</th>-->
        </tr>
</thead>
    <tbody>
            <tr v-for="c in certifications" @click="handleRowClick(p)">
                    <td>{{ c.certid }}</td>
                    <td>{{ c.certname }}</td>
                    <td>{{ c.agency }}</td>
                    <td>{{ c.expyears }}</td>
                    <!--<td><button type="button" class="btn btn-primary btn-sm">Update</button>-->
                    <td><form><input type='button' value='Delete' @click='handleDelete(c.certid)'></input></form></td>
            </tr>
    </tbody>
</table>
<br>
<h2><strong><center>Add Certification</center></strong></h2>
<div class="container-fluid text-center bg-2">
<br>

<form @submit.prevent="handleSubmit">
        <div class="form-group">

            <label for="title">Certification Name:</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Name" v-model="recordCert.certname">
        </div>

        <div class="form-group">
            <label for="author">Certifying Agency:</label>
            <input type="text" name="author" class="form-control" id="author" placeholder="Agency" v-model="recordCert.agency">
        </div>

        <div class="form-group">
            <label for="year">Expiration Duration:</label>
            <input type="number" name="year" class="form-control" id="year" placeholder="Years" v-model="recordCert.expyears">
        </div>

            <br>
            <center><input type="submit"value ="Add Certification" class="btn btn-danger">
            </center><br>
        </form>
</div>
</div>
</div>

<div>
  <div class="row">
    <div class="col-md-4 bg-1 text-center">
      <br>
      <a href="img/cert1.jpg" data-toggle="lightbox" data-title="Reviewing material" data-footer="Prepare before Action">
    <img id="image" src="img/cert1.jpg" class="img-circle" height=170px width=190px>
</a>
    <h3>Preparedness is Key</h3>
    </div>

    <div class="col-md-4 bg-4 text-center">
      <br>
      <a href="img/cert2.jpg" data-toggle="lightbox" data-title="Guest Session" data-footer="Cadets and Recruits">
    <img id="image" src="img/cert2.jpg" class="img-circle" height=170px width=190px>
</a>
    <h3>Certification Session</h3>
    </div>

    <div class="col-md-4 bg-3 text-center">
      <br>
      <a href="img/cert3.jpg" data-toggle="lightbox" data-title="Medics in Emergencies" data-footer="Understanding CPR Science">
    <img id="image" src="img/cert3.jpg" class="img-circle" height=170px width=190px>
</a>
    <h3>CPR Certification</h3>
    </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="js/certs.app.js"></script>
</body>

<hr id="horizontal">
<footer>
<center>
VTIM and Co. | Phone: 812-368-994 | Scott's Tots Developers</center>
</footer>
</html>
